@charset "UTF-8";

@media screen and (max-width: 760px) {
    
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
    }

    input {
        align-self: center;
    }

    img {
        width: 340px;
        margin-top: 100px;
    }

    ul {
        text-align: center;
    }
}